.body{
    font-family: 'Rubik', sans-serif;
    min-height: 81.5vh;
    overflow: hidden;
    background-color: rgba(172, 194, 170, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}
.body .text{
    position: absolute;
    color: black;
    font-size: 32px;
    margin: 15px;
}

.header{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #121212;
    z-index: 999;
    align-items: center;

}

.header .heading{
    display: flex;
    align-items: center;
    margin: 15px;
    font-family: 'Caveat', cursive;
    color: white;
    text-decoration: none;
    font-size: 30px;
    justify-content: center;
    left: 20px;
    position: absolute;
  }

.header .text{
    position: absolute;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    margin: 15px;
}

.header .button{
    z-index: 999;
    font-size: 15px;
    height: 40px;
    width: 180px;
    position: absolute;
    right: 20px;
}

.footer{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #121212;
    z-index: 999;
}

.footer .heading{
    display: flex;
    align-items: center;
    margin: 15px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
}